<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/static/stilo.css">
	{% block titulo %}
	{%  endblock %}
</head>
<body>

	<nav id="menu">

		<ul id="submenu">
			<li id="activo"><a href="#" ><b>Inicio >></b></a></li>
			<li><a href="#">Registrarse</a></li>
			<li><a href="#">Login >></a></li>
		</ul>	
	</nav>
	<div id="menubajo">TribiaOnline.bo</div><br><br>
	

	<div class="cuerpo">
	{% block contenido %}

	{% endblock %}
	{%block pie %}
	{% endblock %}
	</div>

	<div id="pie">Potosi-Bolivia</div>
</body>
</html>