{% extends "base.html" %}

{% block titulo %}
<title>Inicio</title>
{% endblock %}

	{% block menu %}
	{% include "includes/menu_inicio.html" %}
	{%endblock%}

{% block contenido %}
	

		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
			<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
			<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
	



{% endblock %}





