{% extends "base.html" %}

{% block titulo %}
<title>Inicio</title>
{% endblock %}

{% block contenido %}
	

		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
			<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
			<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
		<h1>aqui ira el contenido---</h1>
	<h1>aqui ira el contenido---</h1>
	



{% endblock %}





